<a href="https://colab.research.google.com/github/Vaibhavyadav350/AI-Learnings/blob/main/Logistic_Regression_Social_Network_Ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
df = pd.read_csv("/content/Social_Network_Ads.csv")
df.shape

(400, 5)

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0